.test{
    position: static;
    alignment: left;
    text-align: left;
}
.articleTitle{
    position: static;
    alignment: left;
    text-align: left;

}
.MuiCardHeader-root{
    height: 30px;
}
.MuiCard-root{
    background-color: #ffffff;
    font-family: "Comic Sans MS";
    alignment: center;
    width: 400px;
    margin: auto;
    border-radius: 2%;
    border-color: #1b6ec2;
}

.MuiCardMedia-img{
    /*position: relative;*/
    /*border-radius: 5%;*/
    /*alignment: center;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*display: block;*/
    /*width: auto;*/
}
.MuiCardMedia-root{
    border-radius: 2%;
    height: 200px;

}

.MuiCardContent-root{
    height: 40px;

}

.imagediv{
    alignment: center;
    margin: 2%;
}

