:root {
    --darkblue: #1a535c;
    --blue:#DBDBDB;
    --white: #ffffff;
    --pinkish:#ff6b6b;
    --yelow:ffe66d;
}


/*button {*/
/*    border: 2px solid #000000;*/
/*    border-radius: 4px;*/
/*    background-color: var(--pinkish);*/
/*    font-weight: bold;*/
/*    height:5vh;*/
/*}*/

/*button:hover {*/
/*    background-color: var(--pinkish-hover);*/
/*}*/

/*footer {*/
/*    height: 5vh;*/
/*    text-align:center;*/
/*}*/
/*header {*/
/*    width: 100vw;*/
/*    height: 10vh;*/
/*    margin:auto;*/
/*    margin-top:1vh;*/
/*    background-color: var(--blue);*/
/*    text-align:center;*/
/*}*/
/*body {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    margin: 0 0 0 0;*/
/*    background-color: var(--darkblue);*/
/*    padding: 0;*/
/*    right: 0;*/
/*    left: 0;*/
/*    overflow:hidden;*/
/*}*/







.zdjprof {
    margin-top:4vh;
}

#sub {
    text-align: center;
}
#tresc {
    width: 98%;
    margin: 1%;
    height: 40vh;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    font-size: 16px;
    resize: none;
}
#zdjecie {
    visibility:hidden;
    position: absolute;
}
#zdjeciepreview {
    width: 12vw;
    height: 10vw;
}
#markdownoutput {
    width: 98%;
    margin: 1%;
    min-height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--white);
    font-size: 16px;
    text-align:left;
}
#tytol {
    width: 98%;
    margin: 1%;
    min-height: 40px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    font-size: 16px;
    resize: none;
}

#tagi {
    width: 98%;
    margin: 1%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--blue);
    border-radius: 4px;
    background-color: var(--white);
    font-size: 16px;
    resize: none;
}

.tytol {
    font-size: 3em !important;
}







.markdownfunc {
}
.labelinput {
    display: block;
    border: 2px solid var(--blue);
    width: 18vw;
    margin: 1vw !important;
    height: 200px;
    float: left;
    background-color: var(--white);
    border-radius: 4px;
}
.labelinput:hover {
    background-color: #ccc;
}

.inputsize {
    width: 20vw;
    margin: 5px;
    height: 200px;
}

.leftpanel {
    position: relative;
    width: 20vw;
    height: 85vh;
    float:left;
}
.center {
    position: relative;
    width: 60vw;
    height: 85vh;
    float: left;
    overflow: auto;
    overflow-x: hidden;
}

.rightpanel {
    position: relative;
    width: 18vw;
    height: 85vh;
    float: left;

    text-align:center;
}

.rightbutton {
    width: 18vw;
    margin: 1vw !important;
}

.middlebutton {
    width: 58vw;
    margin: 1vw !important;
}

.ads {
    width: 15vw;
    height: 70vh;
    background-color: #123456;
    margin: auto;
    margin-top: 4vh;
    border-radius: 4vh;

    color:white;
    text-align:center;
}
.ads h1 {
    font-size: 5vh;
}
.imagelink {
    display: block;
    border: 2px solid var(--blue);
    width: 18vw;
    margin: 1vw !important;
    min-height: 40px;
    float: left;
    background-color: var(--white);
    border-radius: 4px;
}
.formularz{
    text-align:center;
}