.xd {
    background-color: lightblue;
    border: 1px solid black;
    height: 100px;
    width: 500px;
    overflow-x: scroll;
}
.xd2 {
    width: 1000px;
    margin: 10px;
}
.test{
    padding-left: 30px;
}

.proplabel{
    padding-left: 20px;

}

.container {
    padding: 4px;
    width: 10000000px;
    height: 1000px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#scroller-wrapper {
    width: 100%;
}

#scroller {
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
