.popup-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 30%;
    z-index: 100;
}

.popup-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    background: #fff;
    min-width: 100px;
    min-height: 100px;
    max-height: 80%;
    overflow: hidden;
    border-radius: 5%;
    padding: 2%;
}
