.registerForm{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    gap: 20px
}

input {
    margin-top: 10px;
}

.textField {
    width: 60%;
}

button {
    margin-top: 20px;
    background-color: #00ABAC;
}

.error-spaceing {
    margin-bottom: 48px;
}

.login-button {
    width: 20%;
}
