
.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-family: "Helvetica";
    width: 80%;
    margin: auto;
    margin-top: 25px;
    border-radius: 2%;
    border-color: #1b6ec2;
    padding-top: 3%;
    padding-bottom: 5%;

}

.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-family: "Helvetica";
    width: 80%;
    margin: auto;
    margin-top: 25px;
    margin-bottom:25px;
    border-radius: 2%;
    border-color: #1b6ec2;
    padding-top: 3%;
    padding-bottom: 5%;

}

.articleDiv {
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.search-main{
    width:80%;

}

