.test{
    position: static;
    alignment: left;
    text-align: left;
}

.testV2{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;
    gap: 20px;
    background-color:red;
    height:100%;

}

.main{
    
    font-family: "Helvetica";
    alignment: center;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    border-radius: 5%;
    padding-right: 5%;
    padding-left: 5%;

}

.profile-top{
border-radius: 3% 3%;
background-color: #ffffff;
box-shadow: "0px 0px 10px 5px black"
}

.name-pic-container{

width:100%;
}

.avatar{
position: relative;
width:10%;
float:left;
left: 4%;
top: 2%;
}

.name{
width:fit-content;
float:left;
}

.info{
border:solid;
width:35%;
float:left;

}

.editButton{
float:left;

}

.email{

}

.birth{

}

.vip{

}

.stats{
    clear:both;
    padding-top: 30px;
}

.statsEle{
    display: inline-block;
    width:25%;
    text-align: center;
}


.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    font-family: "Comic Sans MS";
    width: 100%;
    margin: auto;
    margin-top: 25px;
    border-radius: 2%;
    border-color: #1b6ec2;
    padding-top: 3%;
    padding-bottom: 5%;

}

.articleDiv {
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
}

.popup-box .user {
    width: 500px;
}
